<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Comidas Registradas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/home" routerDirection="back">
    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
  </ion-button>
  
  <ion-list>
    <ion-item *ngFor="let comida of comidas">
      <ion-label>{{ comida.nombre }}</ion-label>
      <ion-badge slot="end">{{ comida.calorias }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" (click)="goToCalculadora()">Volver a la Calculadora</ion-button>
  <ion-button expand="full" color="secondary" (click)="goToRegistroComida()">Registrar Nueva Comida</ion-button>
</ion-content>
